FRONTEND_HOST=http://localhost:5173

ENVIRONMENT=local

BACKEND_CORS_ORIGINS="http://localhost,http://localhost:5173,https://localhost,https://localhost:5173"

PROJECT_NAME=training
POSTGRES_SERVER=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=<PLACEHOLDER>